{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false
        // "modules": false,
        // "targets": {
        //   "node": "current"
        // }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": 3
      }
    ]
  ]
}
